body{
    background: #242529;
    background: radial-gradient(#777E84, #242529);
    background: -webkit-radial-gradient(top, #777E84, #242529);
    background: -moz-radial-gradient(top, #777E84, #242529);
    background: -ms-radial-gradient(top, #777E84, #242529);
    background: -o-radial-gradient(top, #777E84, #242529);
    margin: 0;
    background-attachment: fixed;
}

#header{
    font-family: monospace;
    color: white;
    text-align: center;
}

#app > div{
    margin-left: auto;
    margin-right: auto;

    background: #777777;
    background: -webkit-linear-gradient(45deg, #777777, #5B5B5B, #777777);
    background: -moz-linear-gradient(45deg, #777777, #5B5B5B, #777777);
    background: -ms-linear-gradient(45deg, #777777, #5B5B5B, #777777);
    background: -o-linear-gradient(45deg, #777777, #5B5B5B, #777777);
    background: linear-gradient(45deg, #777777, #5B5B5B, #777777);

    border: 2px solid black;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.horizontal-centering-container{
    text-align: center;
}

div span{
    margin-top: auto;
    margin-bottom: auto;
    font-family: monospace;
    color: white;
}

.header-left-element{
    text-align: left;
    float: left;
}

.header-center-element{
    text-align: center;
}

.header-rigth-element{
    text-align: right;
    float: right;
}

div h1{
    text-align: center;
}

h1{
    margin: 10px 0px 10px 0px;
    font-family: monospace;
    color: white;
}

.default-label{
    font-family: monospace;
    color: white;
    display: block;
    font-weight: bold;
    margin: 0 auto;
}

.submit-button{
    font-family: monospace;
    color: white;
    background-color: #4C4C4C;
    border: 2px solid white;
}

.submit-button:hover{
    background-color: #0F0F0F;
    color: #A0A0A0;
    border: 2px solid #A0A0A0;
    transition: 0.3s;
}

.default-link{
    display: block;
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
	color: white;
}

.default-warning{
	display: block;
	color: red;
}

.default-hint{
    display: block;
	color: white;
}